<h1 class="text-center"><a href="index.html">Perfectly Imperfect</a></h1>
<h3 class="text-center">Kristy Lahoda</h3>
<div class="image__container"><img class="image__fronthero" src="assets/img/wc-hope-banner.png" class="hero" /></div>
