<!DOCTYPE html>
<html>
{% include "twig/00_base/head.twig" %}
<body>

<div class="l_container">
    {% block page %}{% endblock %}
</div>
</body>
<footer>
{% include "footer.twig" %}</footer>
</html>
