<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="A demo of how to use gulp-twig"/>
    <link href="css/styles.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <script src="https://use.typekit.net/kid0kei.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $("a#nav_button").click(function(){
          $("div.l_nav_container").slideToggle(500);
        });
      });
</script>

    <title>Title</title>

</head>
<body>

<div class="l_container">
    {% block page %}{% endblock %}
</div>
</body>
<footer>
{% include "footer.twig" %}</footer>
</html>
